@charset "UTF-8";
/* CSS Document */
/* @import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700;800;900&display=swap');
.Outfit{font-family: 'Outfit', sans-serif;}

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
input:-webkit-autofill,
input:-webkit-autofill:focus {
transition: background-color 600000s 0s, color 600000s 0s;
}
button {border:0 none;background-color:transparent;cursor:pointer}
html{font-size: 62.5%;}
body {background:#fff; }
body,th,td,input,select,textarea,button {line-height:1.5;font-family: 'Noto Sans KR', sans-serif; font-size: 1.6rem; color:#222; letter-spacing:-0.5px; word-spacing:-1px;}  
a {color:#000;text-decoration: none;}
a:active, a:hover {color:#2773ae; text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
.alert.alert-warning{font-size:1.4rem; font-weight:500; margin-bottom:10px;}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }